//.experience
//      .experience__item //полоска будет частью(псевдоэлемент экспириенса), кружки - элемент балуна, не задавать ширину балуну,
//        .baloon
//          .baloon__title
//          a.baloon__comapny(href='')
//          .baloon__dates
//          p.baloon__text //круг-внешний див, внутренний - всевдоэлемент
//          //хвостик тоже сделать псевдоэлементом


.experience {
  position: relative;
}

.experience__line {
  position: absolute;
  height: 550px;
  width: 1px;
  background-color: black;
  margin: 13px;
  z-index: 0;
}

.experience__item {
  max-width: 320px;
  height: auto;
}

