doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')

  body

    .experience
      .experience__item
        .baloon
          .baloon__title CEO&Founder
          a.baloon__company(href='#') @Academy
          .baloon__dates DEC2014 - JAN2015
          p.baloon__text Создавал много чего прикольного, решил что я круче и ушел

          //круг-внешний див, внутренний - всевдоэлемент
          //хвостик тоже сделать псевдоэлементом
            //полоска будет частью(всевдоэлемент экспириенса), кружки - элемент балуна, не задавать ширину балуну,